@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
.flip-container {
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 200px;
  /* Adjust height as needed */
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card .front,
.flip-card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card .back {
  transform: rotateY(180deg);
}

.flip-card.flip {
  transform: rotateY(180deg);
}

.border-gradient {
  border: 2px solid transparent;
  background-image: linear-gradient(90deg, red, blue, yellow);
  background-clip: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2px;
}

@keyframes gradient-border-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-border-animation 3s linear infinite;
}

/* New CSS for tap to flip indication */
.tap-to-flip {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}
